:root {
    --text-color: #black;
    --accent-color: #ffc1e3;
    --background-color: #bf5f82;
}

body {
    margin: 0;
    font-family: 'Source Code Pro', monospace;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    color: var(--text-color);
}

.logo_img {
    padding: 8px 12px;
    width: 130px;
    height: 130px;
}

.navbar_list {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_list li {
    font-size: 1.1em;
    padding: 8px 12px;
}

.navbar_list li:hover {
    background-color: var(--accent-color);
    border-radius: 4px;
}

.navbar_sns {
    list-style: none;
    display: flex;
    font-size: 24px;
    padding-left: 0;
}

.navbar_sns li {
    padding: 8px 8px;
}

.navbar_toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 8px 24px;
    }

    .navbar_list {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_list li {
        font-size: 1em;
        width: 100%;
        text-align: center;
    }

    .navbar_sns {
        display: none;
        justify-content: center;

        width: 100%;
    }

    .navbar_toggleBtn {
        display: block;
    }

    .navbar_list.active,
    .navbar_sns.active {
        display: flex;
    }
}

